*,
*::after,
*::before {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.2rem;
}
/* Root variable */
:root {
  --color-heading: #1e1e1e;
  --color-light-body: #696969;
  --color-button: #219f95;
  --color-white: #ffffff;
  --color-headr: #234894;
  --color-bg-header: #afcedd;
}
article {
  margin: 2rem;
}
/*HEADER*/

.nav h1 {
  font-size: 1.8rem;
  padding: 0rem 1.8rem 2rem 0rem;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .nav h1 {
    font-size: 2rem;
    padding-bottom: 2.5rem;
  }
  article {
    margin: 3rem;
  }
}
.Documentation--Container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}
@media screen and (min-width: 1024px) {
  .Documentation--Container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Documentation--Container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*CARD*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
/*UPLOAD*/

.upload--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.upload-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.upload-items p {
  background-color: var(--color-bg-header);
  color: var(--color-headr);
  padding: 0.2rem 0.7rem;
  font-weight: 700;
  border-radius: 6px;
}
.dacument--uplaod {
  padding-right: 0.7rem;
  color: var(--color-headr);
}
.upload-date {
  color: var(--color-light-body);
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  .upload-items p {
    font-size: 1.5rem;
  }
  .dacument--uplaod {
    font-size: 1.6rem;
  }
  .upload-date {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .upload-items p {
    font-size: 1.3rem;
  }
  .uploduding {
    font-size: 1.4rem;
  }
  .upload-date {
    font-size: 1.2rem;
  }
}
/*membership request*/

.Membership--requests {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.membership {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-heading);
}
.request--ID {
  font-size: 0.9rem;
  color: var(--color-light-body);
}
@media screen and (min-width: 1024) {
  .membership {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .membership {
    font-size: 1.6rem;
  }
}

/*request information*/

.request-informatio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.User--image {
  width: 30px;
  height: 30px;
  object-fit: cover top;
  border-radius: 10px;
}
.userName {
  font-size: 1rem;
  padding-right: 0.5rem;
  font-weight: bold;
  color: var(--color-heading);
  white-space: nowrap;
}
.btn {
  white-space: nowrap;
  font-size: 1.4rem;
  padding: 1.5rem 0.5rem;
  border-radius: 8px;
  background-color: var(--color-button);
  color: var(--color-white);
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .User--image {
    width: 40px;
    height: 40px;
  }
  .userName {
    font-size: 1.3rem;
  }
  .btn {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .User--image {
    width: 35px;
    height: 35px;
  }
  .userName {
    font-size: 1.1rem;
  }
  .btn {
    font-size: 1.4rem;
  }
}
